<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ma super Application</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/mini.css') }}" />
</head>
<body>
    <h1>Base de données</h1>
    <h2>Modifier un élève.</h2>
    <form action="/modify-student" method="POST">
        <div class="form-field">
            <label>Nom : </label>
            <input type="text" name="nom" value="{{personne[1]}}" />
        </div>
        <div class="form-field">
            <label>Prénom :</label>
            <input type="text" name="prenom" value="{{personne[2]}}" />
        </div>
        <div class="form-field">
            <label>Naissance : </label>
            <input type="text" name="naissance" value="{{personne[3]}}"/>
        </div>
        <div class="form-field">
            <label>Etablissement : </label>
            <input type="text" name="etablissement" value="{{personne[4]}}"/>
        </div>
		<div class="form-field">
            <label>Académie : </label>
        <input type="text" name="academie" value="{{personne[5]}}"/>
        </div>
		<input type="hidden" name="matricule" value="{{personne[0]}}"/>
		<input type="submit" value="Modifier" />
    </form>

</body>
</html